# ===== Shared PostgreSQL =====
DATABASE_URL=
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# ===== Backend =====
BACKEND_PORT=8080
LUCENE_INDEX_DIR=./data/lucene-index

# ===== Frontend =====
VITE_API_BASE_URL=http://localhost:8080

# ===== Crawler =====
CRAWLER_START_URL=https://hust.edu.vn/
CRAWLER_ALLOWED_DOMAIN=hust.edu.vn
